<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: auto">  </span>
  <button mat-button>Home</button>
  <button mat-button>Profile</button>
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Input
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item>Load Students</button>
    <button mat-menu-item>Load Payments</button>
  </mat-menu>
  <button mat-raised-button color="accent">Logout</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-button>
          <mat-icon>dashboard</mat-icon>
          Dashbord
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon></mat-icon>
          Students
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon></mat-icon>
          Payments
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height:600px">
    <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
